<h2>Lista Clientes</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor= "let cliente of clientes">
      <td>{{empleado.nombre}}</td>
      <td>{{empleado.apellido}}</td>
      <td>{{empleado.email}}</td>
      <td>{{empleado.fecha}}</td>
      <td>
        <button (click)= "actualizarCliente(cliente.id)" class="btn btn-info">Editar</button>
        <button (click)= "eliminarCliente(cliente.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        <button (click)= "verDetallesDelCliente(cliente.id)" class="btn btn-primary" style="margin-left : 10px;">Detalles</button>
      </td>
    </tr>
  </tbody>
</table>
